{% extends 'user/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ title }}</h1>
<form method="POST" class="post-form">{% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="save btn btn-default">Login</button>
</form>

<div class="social">
    <ul class="social-network social-circle">
        <li><a href="{% url 'social:begin' 'google-oauth2' %}" class="icoGoogle" title="Google +">Login with G+</a></li>
        <li><a href="{% url 'social:begin' 'facebook' %}">Facebook</a></li>
    </ul>
</div>


{% endblock %}