{% extends 'user/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <h3>{{ query_results.first_name }}</h3>
        <h3>{{ query_results.last_name }}</h3>
        <h3>{{ query_results.birth_date }}</h3>
        <p>{{ query_results.information }}</p>
    </div>

    <div class="col-md-4">
        {% if query_results.profile_image %}
        <img src="{{ query_results.profile_image.url }}" width="250">
        {% endif %}

    </div>
</div>

{% endblock %}